html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #312e2b;
  height: 100vh;
}

.board {
  background-color: blue;
  height: 90vh;
  width: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  height: 11.25vh;
  width: 11.25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  height: 2.5vh;
  width: 2.5vh;
  background-color: blue;
  border-radius: 50%;
}
